### DataFrame operations  

Load the file 'goodreads.csv' into a pandas DataFrame called books indexed by title.

In [170]:
# your code here

import pandas as pd 

books = pd.read_csv('goodreads.csv', index_col='title')

Use the head method to look at the first 3 lines.

In [171]:
# your code here

books.head(3)

,bookID,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
title,,,,,,,,,
Harry Potter and the Half-Blood Prince (Harry Potter #6),1,J.K. Rowling-Mary GrandPré,4.56,439785960,9780439785969,eng,652,1944099,26249
Harry Potter and the Order of the Phoenix (Harry Potter #5),2,J.K. Rowling-Mary GrandPré,4.49,439358078,9780439358071,eng,870,1996446,27613
Harry Potter and the Sorcerer's Stone (Harry Potter #1),3,J.K. Rowling-Mary GrandPré,4.47,439554934,9780439554930,eng,320,5629932,70390

Use the tail mehod to look at the last 3 lines.

In [172]:
#your code here

books.tail(3)

,bookID,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
title,,,,,,,,,
InterWorld (InterWorld #1),47701,Neil Gaiman-Michael Reaves,3.53,61238961,9780061238963,en-US,239,14334,1485
The Faeries' Oracle,47708,Brian Froud-Jessica Macbeth,4.43,743201116,9780743201117,eng,224,1550,38
The World of The Dark Crystal,47709,Brian Froud,4.29,1862056242,9781862056244,eng,132,3572,33

Create a new DataFrame called books2 that's a subset of the original. The books2 should only have the following information:  
* title (the index column)
* authors
* number of pages
* average_rating

In [173]:
#your code here

books2 = books[['authors','# num_pages','average_rating']]

Use the head method to look at the first 3 lines of books2

In [174]:
#your code here
books2.head(3)

,authors,# num_pages,average_rating
title,,,
Harry Potter and the Half-Blood Prince (Harry Potter #6),J.K. Rowling-Mary GrandPré,652,4.56
Harry Potter and the Order of the Phoenix (Harry Potter #5),J.K. Rowling-Mary GrandPré,870,4.49
Harry Potter and the Sorcerer's Stone (Harry Potter #1),J.K. Rowling-Mary GrandPré,320,4.47

**Accessing Rows**    
Use `loc` and `iloc` to access by row. Find 3 books you love and list their information from books2

In [175]:
#book 1

fav_book1 = books2.loc[['The Diary of Anne Frank']]
fav_book1

,authors,# num_pages,average_rating
title,,,
The Diary of Anne Frank,Frances Goodrich-Albert Hackett-Wendy Kesselman,70,4.04

In [176]:
#book 2

fav_book2 = books2.loc['Sugar Street':'The Day the Leader Was Killed']
fav_book2

,authors,# num_pages,average_rating
title,,,
Sugar Street,Naguib Mahfouz-Naguib Mahfouz,320,4.23
Palace of Desire,Naguib Mahfouz,432,4.21
Akhenaten: Dweller in Truth,Naguib Mahfouz-Tagreid Abu-Hassabo,168,3.81
Adrift on the Nile,Naguib Mahfouz-Frances Liardet,167,3.82
Midaq Alley,Naguib Mahfouz-Trevor Le Gassick,298,3.84
Arabian Nights and Days,Naguib Mahfouz-Denys Johnson-Davies,228,4.11
The Harafish,Naguib Mahfouz-Catherine Cobham-Naguib Mahfouz,416,4.35
The Day the Leader Was Killed,Naguib Mahfouz-Surgana-Naguib Mahfouz,112,3.64

In [177]:
#book 3

fav_book3 = books2.iloc [1:8]
fav_book3

,authors,# num_pages,average_rating
title,,,
Harry Potter and the Order of the Phoenix (Harry Potter #5),J.K. Rowling-Mary GrandPré,870,4.49
Harry Potter and the Sorcerer's Stone (Harry Potter #1),J.K. Rowling-Mary GrandPré,320,4.47
Harry Potter and the Chamber of Secrets (Harry Potter #2),J.K. Rowling,352,4.41
Harry Potter and the Prisoner of Azkaban (Harry Potter #3),J.K. Rowling-Mary GrandPré,435,4.55
Harry Potter Boxed Set Books 1-5 (Harry Potter #1-5),J.K. Rowling-Mary GrandPré,2690,4.78
"Unauthorized Harry Potter Book Seven News: ""Half-Blood Prince"" Analysis and Speculation",W. Frederick Zimmerman,152,3.69
Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,3342,4.73

List all of the books in the books2 by your favorite author

Create a new DataFrame called books2 that's a subset of the original. The books2 should only have the following information:  
* title (the index column)
* authors
* number of pages
* average_rating

In [178]:
#your code here

fav_author_books = books2[books2['authors']=='John Irving']
fav_author_books

,authors,# num_pages,average_rating
title,,,
A Prayer for Owen Meany,John Irving,641,4.23
A Prayer for Owen Meany,John Irving,637,4.23
Until I Find You,John Irving,928,3.63
The Imaginary Girlfriend,John Irving,192,3.41
The Fourth Hand,John Irving,368,3.31
The Water-Method Man,John Irving,272,3.35
Setting Free the Bears,John Irving,304,3.3
The 158-Pound Marriage,John Irving,176,3.24
The World According to Garp,John Irving,610,4.08
My Movie Business: A Memoir,John Irving,222,3.33
Setting Free the Bears / The Water-Method Man / The 158-Pound Marriage,John Irving,718,3.82
Until I Find You,John Irving,820,3.63
The Hotel New Hampshire,John Irving,520,3.9
The Hotel New Hampshire,John Irving,428,3.9
The Hotel New Hampshire,John Irving,450,3.9
My Movie Business,John Irving,158,3.33

Calculate the average rating of all of the books by your favorite author.

In [179]:
#your code here
fav_author_books.loc[:,'average_rating'] = pd.to_numeric(fav_author_books['average_rating'], errors='coerce')
fav_author_books_average_rating = fav_author_books['average_rating'].mean()
fav_author_books_average_rating 

#fav_author_average_rating,

3.6618749999999998

Finally, filter books2 so that it only contains books with average ratings of 4.5 or greater

In [180]:
#your code here
books2.loc[:,'average_rating'] = pd.to_numeric(books2['average_rating'], errors='coerce')
average_ratings_higher = books2[books2['average_rating']>= 4.5]
average_ratings_higher

,authors,# num_pages,average_rating
title,,,
Harry Potter and the Half-Blood Prince (Harry Potter #6),J.K. Rowling-Mary GrandPré,652,4.56
Harry Potter and the Prisoner of Azkaban (Harry Potter #3),J.K. Rowling-Mary GrandPré,435,4.55
Harry Potter Boxed Set Books 1-5 (Harry Potter #1-5),J.K. Rowling-Mary GrandPré,2690,4.78
Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,3342,4.73
J.R.R. Tolkien 4-Book Boxed Set: The Hobbit and The Lord of the Rings,J.R.R. Tolkien,1728,4.59
...,...,...,...
Harry Potter et le Prisonnier d'Azkaban (Harry Potter #3),J.K. Rowling-Jean-François Ménard,349,4.55
The Chrestomanci Quartet (Chrestomanci #1-4),Diana Wynne Jones,664,4.5
The Abhorsen Trilogy Box Set (Abhorsen #1-3),Garth Nix,850,4.53
The Abhorsen Trilogy (The Abhorsen Trilogy #1-3),Garth Nix,777,4.66
The Sandman: King of Dreams,Alisa Kwitney-Neil Gaiman,180,4.62